<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet" />
</head>

<body style="font-family: 'Manrope', sans-serif">
  <div style="width: 600px; border: 1px solid #B7B5B9">
    <div style="height: 110px; background-color: #07030e">

        <a href="https://www.sassyescort.com/">
            <img src="../../../../public/images/templateImage/video.webp"
                style="margin-left: 214px; margin-top: 32px; width:42.5px; height: 34px;" />
            <img src="../../../../public/images/templateImage/flirtbate.png"
                style="margin-left: 11.33px;width: 118.06px; height: 26.39px; padding-top: 2.86px; padding-bottom: 4.75px;" />
        </a>
    </div>
    <div style="margin-left: 24px; margin-right: 24px;background-color: #ffff;">
      <div style="
            height: 361px;
            padding-top: 32px;
            padding-left: 158.12px;
            padding-right: 158.12px;
            width: 552px;
          ">
        <img src="../../../../public/images/templateImage/passwordResetRequest.webp" />
      </div>
      <div style="
            width: 552px;
           
            font-family: Manrope;
            color: #07030e;
            margin-top: 36px;
          ">
        <p style="
              font-size: 48px;
              font-weight: 700;
              line-height: 135%;
              margin: 0;
            ">
    Credits added to the wallet
        </p>

        <p style="
              font-size: 18px;
              font-weight: 400;
              line-height: 160%;
              margin: 0;
              margin-top: 24px;
              letter-spacing: 0.3px;
              color:#07030E;
              font-style: normal;
            ">
          Hey {{name}},</br>

          Thank you for your purchase! We are thrilled to confirm that your credit purchase has 
          been successfully processed. Here are the<br> details of your transaction: 
        </p>
        <div style="margin-top: 24px;">
               <p style="
               font-size: 18px;
               font-weight: 400;
               line-height: 160%;
               margin: 0;
               letter-spacing: 0.3px;
               color:#07030E;
               font-style: normal;
             ">Credits Added: <span style="font-weight:400;font-size:18px;line-height:28.8px;letter-spacing: 0.3px"> <b>2500</b> </span> </p>
               <p style="
               font-size: 18px;
               font-weight: 400;
               line-height: 160%;
               margin: 0;
               letter-spacing: 0.3px;
               color:#07030E;
               font-style: normal;"> 
                Total Cost:  <span style="font-weight:400;font-size:18px;line-height:28.8px;letter-spacing: 0.3px"> <b>$1200</b> </span> </p>
                <p style="
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                margin: 0;
                letter-spacing: 0.3px;
                color:#07030E;
                font-style: normal;"> Transaction ID:  <span style="font-weight:400;font-size:18px;line-height:28.8px;letter-spacing: 0.3px"><b> 342678976123</b>  </span> </p>
         </div>

        <button style="
              width: 224px;
              height: 48px;
              border: 2px solid #FF68C0;
              background-color: #ff68c0;
              border-radius: 8px;
              font-size: 16px;
              font-weight: 700;
              line-height: 120%;
              margin-top: 24px;
              cursor: pointer;
              font-family: Manrope;
            ">
          <a href="{{resetLink}}" target="_blank" style="text-decoration: none; color: #290F1E">Explore models</a>

        </button>
        <p style="
              font-size: 18px;
              font-weight: 400;
              line-height: 160%;
              margin: 0;
              margin-top: 24px;
              letter-spacing: 0.3px;
              color:#07030E;
              font-style: normal;
            ">Need assistance or have questions? Our customer support is just a click away. Feel free to contact us anytime at <br> {{email}}
      </div>
    </div>

    <div style="margin-top: 96px">
      <div style=" position: relative;align-items: center;">

        <div style="
              padding-top: 92px;
              padding-right: 20px;
              padding-bottom: 48px;
              padding-left: 20px;
              background-color: #07030e;
            ">

                    <a href="https://www.sassyescort.com/">
                        <img src="../../../../public/images/templateImage/video.webp"
                            style="margin-left: 133.14px;width: 72.63px;height: 58.1px;" />
                        <img src="../../../../public/images/templateImage/flirtbate.png"
                            style="padding-left: 19.38px;width:201.74px;height: 45.1px; padding-top:4.89px; padding-bottom: 4.89px;" />
                    </a>


          <div style="justify-content: space-between;margin-top: 44px;margin-left:224px;">

            <a href="https://www.instagram.com/sassyofficial.nl/"><img
                src="https://staging.sassyescort.com//images/InstagramFill.png" id="logo"
                style="width: 24px;height: 24px; cursor:pointer;" /></a>

            <a href="https://twitter.com/sassyescort/"><img src="https://staging.sassyescort.com/images/TwitterFill.png"
                id="logo" style="width: 24px;height: 24px;margin-left: 20px; cursor:pointer;" /></a>

            <a href="https://t.me/SassyNL/"><img src="https://staging.sassyescort.com/images/TelegramFill.png"
                style="width: 24px;height: 24px;margin-left: 20px; cursor:pointer;" /></a>

          </div>

          <div style="border: 1px solid #232027;margin-top: 24px;"> </div>

          <p
            style="width: 560px;margin-top: 24px;font-family: Manrope;font-size: 14px;font-weight: 400;line-height: 140%;color: #B7B5B9;text-align: center;">
            This email was sent to {{email}}. If you don’t wish to get this kind <br> of mails, please do <span
              style="color: #FF68C0;  text-decoration: underline; cursor:pointer"> unsubscribe </span>from here.</p>
        </div>

      </div>
    </div>
</body>

</html>