/* General Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Optimize layout and avoid unnecessary reflows */
html,
body {
  max-width: 100vw;
  padding-right: 0 !important;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth; /* Smooth scrolling */
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Autocomplete popper */
.Mui-Autocomplete-popper {
  z-index: 1000;
}

/* Common Input Styles */
.react-tel-input .form-control {
  width: 100% !important;
  border-radius: 8px !important;
  border: 2px solid #232027 !important;
  background-color: #100b19 !important;
  color: #86838a !important;
  height: 50px !important;

  &:hover,
  &:focus {
    border-color: #86838a !important;
    box-shadow: none !important;
  }
}

/* Special Labels */
.react-tel-input:focus-within .special-label {
  color: #232027;
}

/* Phone Input */
.react-tel-input .form-control.affiliatePhoneInput {
  height: 50px !important;
}

/* Error State */
.phone-error .react-tel-input .form-control {
  border-color: red !important;
}

/* Country list */
.react-tel-input .country-list {
  background-color: #100b19 !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #232027 !important;
}

/* Ellipsis for long text */
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* Disable number input spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox: Remove spinner for number input */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Toastify Styles */
.version2 {
  width: auto;

  .Toastify__toast {
    width: 396px;
    padding: 12px;
    border-radius: 8px;
    gap: 24px;
    align-items: center;

    &--success {
      background-color: #15250a;
      border: 1px solid #79e028;
      color: #79e028;

      .Toastify__toast-icon {
        background-image: url('/images/NewThemeImages/icons/check-fill.svg');
        background-size: 24px 24px;

        svg {
          display: none;
        }
      }
    }

    &--error {
      background-color: #2f0909;
      border: 1px solid #e92f2f;
      color: #e92f2f;

      .Toastify__toast-icon svg {
        fill: #e92f2f;
      }
    }

    &-body {
      padding: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;

      .Toastify__toast-icon {
        width: 24px;
        height: 24px;
        margin-inline-end: 8px;
      }
    }

    .Toastify__close-button {
      align-self: center;
      color: #e9e8eb;
      opacity: 1;

      svg {
        width: 22px;
        height: 22px;
      }
    }

    .Toastify__progress-bar {
      display: contents;
    }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
  cursor: default;

  &:hover {
    background: #aaaaaa;
  }
}

/* Logo Styles */
.Stay_logo {
  position: absolute;
  bottom: -70px;
  right: 115px;

  @media (max-width: 0px) {
    right: calc(50% - 76px);
  }

  @media (max-width: 600px) {
    right: 30px;
  }
}

/* Swiper Adjustments */
.swiper-wrapper .swiper-slide-Worker {
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  height: fit-content !important;
}
